Repository ultrajson/ultrajson, pull requests merged in 2020-05, with the labels that each got.

#404 Drop support for EOL Python 2.7
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  .travis.yml
  README.rst
  pyproject.toml
  python/JSONtoObj.c
  python/objToJSON.c
  python/py_defines.h
  python/ujson.c
  scripts/build-manylinux.py
  setup.cfg
  setup.py
  tests/benchmark.py
  tests/test_ujson.py
Labels: Python 2, changelog: Removed

#327 Add an allow_nan keyword argument to dumps, defaults to True
  lib/ultrajson.h
  python/objToJSON.c
  python/ujson.c
  tests/test_ujson.py
Labels: Python 2, changelog: Added

#405 Build Windows and MacOS
  .github/workflows/deploy-macos-windows.yml
Labels: Windows, changelog: Added, release

#266 new reject_bytes option to raise on bytes
  lib/ultrajson.h
  python/objToJSON.c
  python/ujson.c
  tests/test_ujson.py
Labels: changelog: Added

#406 Add manylinux to CI wheels build
  .github/workflows/deploy-wheels.yml
  scripts/build-manylinux-wheels.sh
Labels: changelog: Added, release

#408 Add and update linting
  .github/workflows/deploy-wheels.yml
  .gitignore
  .pre-commit-config.yaml
  LICENSE.txt
  deps/double-conversion/README.md
  deps/double-conversion/double-conversionConfigVersion.cmake.in
  deps/double-conversion/msvc/double-conversion.vcxproj
  deps/double-conversion/msvc/double-conversion.vcxproj.filters
  deps/double-conversion/msvc/run_tests/run_tests.vcxproj
  deps/double-conversion/msvc/run_tests/run_tests.vcxproj.filters
  deps/double-conversion/test/CMakeLists.txt
  lib/Makefile
  lib/dconv_wrapper.cc
  lib/ultrajson.h
  lib/ultrajsondec.c
  lib/ultrajsonenc.c
  python/JSONtoObj.c
  python/objToJSON.c
  python/ujson.c
  python/version_template.h
  scripts/build-manylinux-wheels.sh
  tests/sample.json
Labels: changelog: skip, testing
